{# ========================================================================== #}
{# :: Imports #}
{# ========================================================================== #}
{# set variables #}
{% set contentTitle = contentTitle ?? NULL %}
{% set contentText = contentText ?? NULL %}
{% set image = image ?? NULL %}

{# set classes #}
{% set classes = classes ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}

<div class="l-section">
	<div class="l-container">
		<div class="l-grid l-grid--with-spacing">
			{# image #}
			<div class="l-grid__col l-grid__col-12 l-grid__col--5@tablet l-grid__col--3@desktop">
				<img class="c-image" src="{{image}}" />
			</div>

			{# content #}
			<div class="l-grid__col l-grid__col--12 l-grid__col--7@tablet l-grid__col--8@desktop l-grid__col--offset-1@desktop s-wysiwyg">
				<header class="l-section__header">
					<h2 class="l-section__title">{{contentTitle}}</h2>
				</header>

				<p class="l-section__text">{{ entry.commonIntroduction }} </p>
				{% set items = [] %}
				{% for plantitem in entry.plantTable %}
					{% set items = items|merge( [ [plantitem.plantSoort , plantitem.plantPotmaat, plantitem.plantMaat] ]) %}
				{% endfor %}

				{% include "/components/table.twig" with {
					classes: "",
					title: globalDetail.globalDetailSoorten,
					headers: ["Aantal", "Soort", "Potmaat"],
					items: items
				} only %}

				<h3>{{ globalDetail.globalDetailInterested }}</h3>
				<p>{{ globalDetail.globalDetailInterestedDescription }}</p>

				{% include "/components/button.twig" with {
					text: globalDetail.globalDetailCta
				} only %}
			</div>
		</div>
	</div>
</div>
