{% include "/components/intro.twig" with {
	classes: "",
	contentTitle: "Contact",
	contentText: "<p>Vragen? Aarzel niet, je kan ons steeds contacteren om bijkomende informatie te vragen.</p>"
} only %}

{% macro errorList(errors) %}
	{% if errors %}
		<ul class="errors">
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}

{% from _self import errorList %}

<div class="c-intro">
	<div class="l-container c-intro__container" style="border: none; padding: 0;">
		<form method="post" action="" accept-charset="UTF-8" class="c-contact__form c-form">
			{{ csrfInput() }}
			<input type="hidden" name="action" value="contact-form/send">

			<div class="c-form__item">
				<div class="c-input ">
					<label class="c-input__label " for="fromName">
						Naam
					</label>
					<div class="c-input__wrapper">
						<input id="fromName" class="c-input__field" type="text" name="fromName" placeholder="" value="{{ message.fromName ?? '' }}">
					</div>
				</div>

				{{ message is defined and message ? errorList(message.getErrors('fromName')) }}
			</div>

			<div class="c-form__item">
				<div class="c-input ">
					<label class="c-input__label " for="fromEmail">
						E-mailadres
					</label>
					<div class="c-input__wrapper">
						<input id="fromEmail" class="c-input__field" type="email" name="contact-email" placeholder="" value="{{ message.fromEmail ?? '' }}" required>
					</div>
				</div>

				{{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
			</div>

			<div class="c-form__item">
				<div class="c-textarea ">
					<label class="c-textarea__label " for="message">
						Contacteer ons
					</label>
					<div class="c-textarea__wrapper">
						<textarea id="message" name="message[Body]" class="c-textarea__field" type="textarea">{{ message.message.body ?? '' }}</textarea>
					</div>
				</div>
				{{ message is defined and message ? errorList(message.getErrors('message')) }}
			</div>

			<input type="submit" class="c-form__submit c-button" value="Verzenden">
		</form>
	</div>
</div>


