{# ========================================================================== #}
{# :: Data #}
{# ========================================================================== #}
{# set variables #}
{% set items = items ?? NULL %}

{# set classes #}
{% set classes = classes ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="c-gallery {{classes}}">
	<div class="c-gallery__container l-container">
		<div class="l-grid l-grid--with-spacing">

			<div class="l-grid__col l-grid__col--12 l-grid__col--6@tablet l-grid__col--3@desktop c-photo-grid__container">
				<div class="c-gallery__item" style="background-image: url('{{items[0].image}}')">
					<img  class="c-gallery-item__image" src="{{items[0].image}}" alt="{{items[0].title}}" title="{{items[0].title}}" />
				</div>
			</div>

			<div class="l-grid__col l-grid__col--12 l-grid__col--6@tablet l-grid__col--3@desktop c-photo-grid__container c-photo-grid__container--vertical">
				<div class="l-grid c-photo-grid__subgrid">
					<div class="c-gallery__item l-grid__col l-grid__col--12" style="background-image: url('{{items[1].image}}')">
						<img  class="c-gallery-item__image" src="{{items[1].image}}" alt="{{items[1].title}}" title="{{items[1].title}}" />
					</div>

					<div class="c-gallery__item l-grid__col l-grid__col--12" style="background-image: url('{{items[2].image}}')">
						<img  class="c-gallery-item__image" src="{{items[2].image}}" alt="{{items[2].title}}" title="{{items[2].title}}" />
					</div>
				</div>
			</div>

			<div class="l-grid__col l-grid__col--12 l-grid__col--6@tablet l-grid__col--2@desktop c-photo-grid__container">
				<div class="c-gallery__item" style="background-image: url('{{items[3].image}}')">
					<img  class="c-gallery-item__image" src="{{items[3].image}}" alt="{{items[3].title}}" title="{{items[3].title}}" />
				</div>
			</div>

			<div class="l-grid__col l-grid__col--12 l-grid__col--6@tablet l-grid__col--4@desktop c-photo-grid__container">
				<div class="c-gallery__item" style="background-image: url('{{items[4].image}}')">
					<img  class="c-gallery-item__image" src="{{items[4].image}}" alt="{{items[4].title}}" title="{{items[4].title}}" />
				</div>
			</div>
		</div>
	</div>
</div>