{# ========================================================================== #}
{# :: Imports #}
{# ========================================================================== #}
{# set variables #}
{% set image = image ?? NULL %}
{% set contentTitle = contentTitle ?? NULL %}
{% set contentText = contentText ?? NULL %}
{% set buttonText = buttonText ?? NULL %}
{% set buttonLink = buttonLink ?? NULL %}
{% set activeLanguage = activeLanguage ?? NULL %}
{% set items = items ?? NULL %}

{# set classes #}
{% set classes = classes ?? "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="c-hero {{classes}}" style="background-image: url('{{image}}');">
	<div class="l-container c-hero__container">
		<div class="c-hero__content">
			<h1 class="c-hero__title">{{contentTitle}}</h1>

			<p class="c-hero__text">{{contentText}}</p>

			{% include "/components/button.twig" with {
				text: buttonText,
				link: buttonLink
			} only %}
		</div>

		<div class="c-hero__info u-outside-padding-right">
			<ul class="c-hero__list">
				{% for item in items %}
					<li class="c-hero__item">
						<a class="c-hero__link" href="{{ item.url }}" aria-label="{{item.title}}"></a>
						<h3 class="c-hero__item-title">{{item.title}}</h3>

						<p class="c-hero__item-text">{{item.text}}</p>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>