{# ========================================================================== #}
{# :: Data #}
{# ========================================================================== #}
{# set variables #}
{% set id = id ?? NULL %}
{% set icon = icon ?? NULL %}

{# label #}
{% set labelClasses = labelClasses ?? NULL %}
{% set labelText = labelText ?? NULL %}

{# input #}
{% set inputName = inputName ?? NULL %}
{% set inputType = inputType ?? NULL %}
{% set inputPlaceholder = inputPlaceholder ?? NULL %}
{% set inputValue = inputValue ?? NULL %}


{# set classes #}
{% set classes = "" %}

{# ========================================================================== #}
{# :: Component #}
{# ========================================================================== #}
<div class="c-textarea {{classes}}">

	<label class="c-textarea__label {{labelClasses}}" for="{{inputName}}">
		{{labelText}}
	</label>

	<div class="c-textarea__wrapper">
		<textarea
			id="{{id}}"
			class="c-textarea__field"
			type="{{inputType}}"
			name="{{inputName}}"
			placeholder="{{inputPlaceholder}}"
			value="{{inputValue}}"
		>

		</textarea>
	</div>
</div>